:root {
  --primary: #646cff;
  --secondary: #535bf2;
  --dark: #1a1a1a;
  --light: #eaeaea;
}

* {
  box-sizing: border-box;
  margin: 0;
}

a {
  font-weight: 500;
  color: var(--primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--secondary);
}

body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background: linear-gradient(
    90deg,
    var(--primary) 1.18%,
    var(--secondary) 100%
  );
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--light);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.nav {
  background: linear-gradient(
    90deg,
    var(--primary) 1.18%,
    var(--secondary) 100%
  );
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: var(--light);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input {
  width: 240px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--light);
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--dark);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form--btn {
  width: 240px;
}

.meme {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid var(--dark);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.meme h2 {
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
  color: white;
  padding: 25px 15px;
  text-align: center;
  font-size: 2em;
}

.change--button {
  margin-top: 20px;
}
